# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
blas
bottleneck
bzip2
ca-certificates
cffi
cloudpickle
contourpy
cycler
expat
farama-notifications
filelock
fonttools
fsspec
gym
gym-notice
gymnasium
intel-openmp
jinja2
kiwisolver
libcxx
libffi
libprotobuf
libuv
markupsafe
matplotlib
minigrid
mkl
mkl-service
mkl_fft
mkl_random
mpmath
ncurses
networkx
ninja
ninja-base
numexpr
numpy
numpy-base
openssl
packaging
pandas
pillow
pip
pycparser
pygame
pyparsing
python
python-dateutil
python-tzdata
pytorch
pytz
readline
scipy
seaborn
setuptools
six
sqlite
sympy
tbb
tk
typing_extensions
tzdata
wheel
xz
zlib
